-provide(:title, 'about')
-provide(:og_title, 'About The Cultural Spotter')
-provide(:og_image, "https://s3.amazonaws.com/gtku/assets/about.png")
-provide(:url, request.original_url)
-content_for :description do
  = description('The Cultural Spotter is an online magazine that aims to show how colorful the world is by describing different lifestyles, culinary and cultural traditions and different points of view through a wide range of articles.')
.row
  .col-lg-1.col-md-1.col-xs-12
  .col-lg-10.col-md-10.col-xs-12
    %h1='ABOUT US'
  .col-lg-1.col-md-1.col-xs-12
.row
  .col-lg-1.col-md-1.col-xs-12
  .col-lg-10.col-md-10.col-xs-12
    %legend='Welcome to The Cultural Spotter!'
  .col-lg-1.col-md-1.col-xs-12  
.row
  .col-lg-1.col-md-1.col-xs-12
  .col-lg-5.col-md-5.col-xs-12
    %blockquote
      %p.jus.text-warning='The Cultural Spotter is an online magazine that aims to show how colorful the world is by describing different lifestyles, culinary and cultural traditions and different points of view through a wide range of articles. Each article reflects the experience and style of its writer. The uniqueness of The Cultural Spotter is that many different points of view are shown.'
      %p.jus.text-success='We believe that different cultures can be understood in an unlimited number of ways, because each person may interpret them differently.'
      %p.jus.text-danger='We would love to hear your feedback; tell us what you think of our site and our articles! In case you have got a creative idea on what to write about, let us know!'
      %small
        ='The co-founder of The Cultural Spotter - Marta Ritecz'
  .col-lg-5.col-md-5.col-xs-12 
    %img{ :src => "https://s3.amazonaws.com/gtku/assets/about.png", :width => "100%", :alt => "The Cultural Spotter About", :class => 'img-responsive' }
  .col-lg-1.col-md-1.col-xs-12    
= render 'shared/fbpopup'           