  <li class="list-group-item" id="header-of-table-home">
    <h3 class="text-primary">Did You Know?</h3>
  </li>
<div class="">    
<ul class="list-group lgdid">
<% @did_articles.each do |article| %>
  <li class="list-group-item">
  <%= link_to "articles/#{article.url}" do %>	
  <%= article.title %>
  <%end%>
  </li>
<% end %>
</ul>
</div>