  <li class="list-group-item" id="header-of-table-home">
    <span class="badge">?</span>
    <h3 class="text-primary">Did You Know?</h3>
  </li>
<div class="scroll-text">    
<ul class="list-group">
<% @did_a1rticles.each do |article| %>	
  <li class="list-group-item">
  <%= link_to article.title, "articles/#{article.url}"  %>
  </li>
<% end %>
</ul>
</div>